@{
    ViewBag.Title = "Contact";
}
<h2>Contactos</h2>
<h3>Aplicación realizada por:</h3>

<p>
    Fidel Avalos<br />
    Darwin Caiza<br />
    Willy Romero<br />
    John Hilasaca<br />
    Paul Bolaños<br />
    Josué León<br />
    Carolina Castillo<br />
    Edwin Manzano<br />
    Jhony Riera<br />
</p>
